.cart {
  order: 2;
  width: 45vw;;
  padding: 3vw;
  padding-top: 5.7vw;
}

.cart td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.cart table {
  font-family: arial, sans-serif;
  /* border-collapse: collapse; */
  width: 100%;
}


.cart2 {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 8px 8px #eee;
}

.books {
  order: 1;
  padding: 3vw;
}

.books2 {
  border-radius: 7px;
  box-shadow: 5px 8px 8px #eee;
}

.contain {
  display: flex;
  flex-direction: row;
}

.CheckOut {
  width: 50%;
  color: green;
}